html {
  scroll-behavior: smooth;
}
body {
    background-color: lightblue;

}

#navbar {
  background-color: lightblue;
  height: 3rem;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* jumbotron */
#jumbo_container {
  background-color: lightblue;
  margin-bottom: -16px;
}
.display-4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Start of the about section */
  #about_title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 2rem;
    background-color: lightblue;
    margin-bottom: -20px;
  }

#about_container {
    background-color: lightblue;
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  #about_image {
    max-width: 400px;
    border-radius: 6px;
    border: 2px groove black;
    box-shadow: 0px 3px 3px black;
    flex: 0 0 100%; /* Flex item should take full width */
    margin-bottom: 20px;
  }
  
  #about_paragraph {
    line-height: 2;
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: left;
    flex: 1 100%; /* Flex item should take full width */
    margin-bottom: 20px;
  }

/* Services Section */

#services_grid {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    background-color: lightblue;

}
.card {
    margin-bottom: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: lightblue;

}
.card-img-top {
    width: 400px;
    height: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-body{
    background-color: rgb(146, 212, 234);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card-title {
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
}
.card-text {
    line-height: 2;
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
}

/* Start of the footer styling */

#footer_container {
    background-color: lightblue;
    padding-top: 1in;
    padding-bottom: 30px;
}

#footer_paragraph {
    font-size: 3rem;
    line-height: 2rem;
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
          align-items: center;
          text-align: center;
}

/* Contact Me button Styling */
.btn {
    position: fixed; 
    bottom: 1.75vw; 
    right: 1.75vw; 
    -webkit-animation: movePopup 3s; 
    animation: movePopup 3s; 
}
/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/*Contact Form Styling */

/* This is to open the contact form */
.btn {
    margin-right: 25px;
}

.contact-form {
    position:fixed;
    display: none; 
    z-index: 9;
    right: 0px;
    bottom: 0px;
    max-width: 400px;
    margin-bottom: 19px;
    margin-right: 19px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #dcdcdc;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  textarea {
    resize: vertical;
  }
  
  #submit_button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #submit_button:hover {
    background-color: #45a049;
  }
  
  /* Starting of the media queries */

  @media only screen and (max-width: 900px) {
    #about_container{
        flex-wrap: wrap;
    }
    #about_image{
        max-width: 80%;
        height: auto;
        margin: auto;
    }
  }